@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 12, 12, 12;
    --background-end-rgb: 32, 32, 32;
}

body {
    color: rgb(var(--foreground-rgb));

    background: linear-gradient(
        45deg,
        transparent,
        rgb(var(--background-start-rgb)) 0%,
        rgb(var(--background-end-rgb)) 100%
    );
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Fix styling for GitHub readme */
#mdfile img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    display: inline;
    margin-right: 12px;
    margin-bottom: 6px;
}

#mdfile img[alt="stats graph"] {
    width: fit-content;
    height: fit-content;
}
#mdfile img[alt="languages graph"] {
    width: fit-content;
    height: fit-content;
}
#mdfile img[alt="Snake animation"] {
    width: fit-content;
    height: fit-content;
}

#mdfile h2 {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 12px;
    border-bottom: 1px solid #333;
}
